// app global css in SCSS form

$stat-font-family: Roboto, -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
$stat-DnD5e-font-family: Roboto, -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
$site-font-family: Roboto, -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
